

{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": false,
  "hasShippingEstimator": {% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false{% endif %}
}
{%- endcapture -%}


  {% assign section_shipping_title = section.settings.reassurance_section_shipping_title_en %}
  {% assign reassurance_free_shipping_title = section.settings.reassurance_free_shipping_title_en %}
  {% assign reassurance_free_shipping_info = section.settings.reassurance_free_shipping_info_en %}
  
  {% assign section_customer_title = section.settings.reassurance_section_customer_title_en %}
  {% assign reassurance_phone = section.settings.reassurance_phone %}
  {% assign reassurance_email_info = section.settings.reassurance_email_info %}
  {% assign reassurance_customer_info = section.settings.reassurance_customer_info_en %}
  
  {% assign section_payment_title = section.settings.reassurance_section_payment_title_en %}
  {% assign reassurance_secured_payment_title = section.settings.reassurance_secured_payment_title_en %}



<section data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'cart.general.empty' | t }}</h1>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}<span><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>{%- endcapture -%}

          <p class="Text--subdued">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
        {%- endif -%}

        <a href="{{ routes.all_products_collection_url }}" class="EmptyState__Action Button Button--primary">{{ 'cart.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    <div class="Container">
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">{{ 'cart.general.title' | t }}</h1>

          {%- if settings.cart_show_free_shipping_threshold -%}
            {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

            <p class="SectionHeader__Description Text--subdued">
              {%- if cart.total_price >= threshold_in_cents -%}
                {{- 'cart.general.free_shipping' | t -}}
              {%- else -%}
                {%- capture remaining_amount -%}<span><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total_2" style="display:none !important;"></span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>{%- endcapture -%}
                {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
              {%- endif -%}
            </p>
          {%- endif -%}
        </div>
      </header>

      <div class="PageContent cart-content">
        <div class="cart-wrapper">
          <form action="{{ routes.cart_url }}" method="POST" class="Cart Cart--expanded" novalidate>
            <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
            <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

            {% render 'cart-items' %}

            <footer class="Cart__Footer">
              {%- if settings.cart_enable_notes -%}
                <div class="Cart__NoteContainer">
                  <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
                  <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="4" placeholder="{{ 'cart.general.note_placeholder' | t }}">{{ cart.note }}</textarea>
                </div>
              {%- endif -%}

              <div class="Cart__Recap">
                {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

                {%- if cart.cart_level_discount_applications != blank -%}
                  {%- for discount_application in cart.cart_level_discount_applications -%}
                    <p class="Cart__Discount Heading u-h6">{{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money }}</span></p>
                  {%- endfor -%}
                {%- endif -%}

                <p class="Cart__Total Heading u-h6">{{ 'cart.general.total' | t }}: <span><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total_3" style="display:none !important;"></span>{{ cart.total_price | money }}</span></p>

                <p>Orders are shipped from France, local taxes may apply.</p>
    
                {%- if shipping_and_taxes_notice != blank -%}
                  <p class="Cart__Taxes Cart__Taxes-bold Text--subdued">{{ shipping_and_taxes_notice }}</p>
                {%- endif -%}
                <p class="Cart__Taxes Text--subdued">{{ 'cart.general.payment_notice' | t }}</p>

                <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">{{ 'cart.general.checkout' | t }}</button>
              </div>
            </footer>
          </form>
          <div class="reassurance">
            <div class="reassurance-block">
              <div class="reassurance-block-header">{{ section_shipping_title }}</div>
              
              <div class="reassurance-block-wicon">
                <div class="reassurance-block-icon shipping-car"></div>
                {{ reassurance_free_shipping_title }}
              </div>

           

              <div class="reassurance-block-shipping-info">
                {{ reassurance_free_shipping_info | newline_to_br }}
              </div>
            </div>
            <div class="reassurance-block">
              <div class="reassurance-block-header">{{ section_customer_title }}</div>

              <div class="reassurance-block-email">{{ reassurance_email_info }}</div>

              <div class="reassurance-block-wicon">
                <div class="reassurance-block-icon telephone"></div>
                <b class='rea-phone'>{{ reassurance_phone }}</b>
              </div>

              <div class="reassurance-block-hours">
                {{ reassurance_customer_info | newline_to_br }}
              </div>
            </div>
            <div class="reassurance-block">
              <div class="reassurance-block-header">{{ section_payment_title }}</div>
              <div class="reassurance-block-wicon">
                <div class="reassurance-block-icon credit-card"></div>
                {{ reassurance_secured_payment_title }}
              </div>

             <img src="{{ 'payment.png' | asset_url }}">
            </div>
          </div>
        </div>

        {%- if section.settings.show_shipping_estimator -%}
          <div class="Section Section--spacingExtraLarge">
            <div class="Panel">
              <h2 class="Panel__Title Heading u-h2">{{ 'cart.shipping_estimator.title' | t }}</h2>

              <div class="Panel__Content">
                <div class="ShippingEstimator">
                  <div class="ShippingEstimator__Form">
                    <div class="ShippingEstimator__Country Form__Select Select Select--primary">
                      {%- render 'icon' with 'select-arrow' -%}
                      <select name="country" title="{{ 'cart.shipping_estimator.country' | t }}" data-default="{% if customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ all_country_option_tags }}</select>
                    </div>

                    <div class="ShippingEstimator__Province Form__Select Select Select--primary" style="display: none">
                      {%- render 'icon' with 'select-arrow' -%}
                      <select name="province" title="{{ 'cart.shipping_estimator.province' | t }}"></select>
                    </div>

                    <input type="text" class="ShippingEstimator__Zip Form__Input" name="zip" placeholder="{{ 'cart.shipping_estimator.zip_code' | t }}">

                    <button type="button" class="ShippingEstimator__Submit Button Button--primary">{{ 'cart.shipping_estimator.estimate' | t }}</button>
                  </div>

                  <div class="ShippingEstimator__Error Alert Alert--error" style="display: none"></div>
                  <div class="ShippingEstimator__Results">
                    <div class="ShippingEstimator__ResultsInner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    },

    {
      "type": "text",
      "id": "reassurance_section_shipping_title_fr",
      "label": {
        "en": "Reassurance Shipping Titre Fr",
        "fr": "Reassurance Shipping Titre Fr"
      }
    },
    {
      "type": "text",
      "id": "reassurance_section_shipping_title_en",
      "label": {
        "en": "Reassurance Shipping Title En",
        "fr": "Reassurance Shipping Title En"
      }
    },
    {
      "type": "text",
      "id": "reassurance_free_shipping_title_fr",
      "label": {
        "en": "Reassurance free shipping Titre Fr",
        "fr": "Reassurance free shipping Titre Fr"
      }
    },
    {
      "type": "text",
      "id": "reassurance_free_shipping_title_en",
      "label": {
        "en": "Reassurance free shipping Title En",
        "fr": "Reassurance free shipping Title En"
      }
    },
    {
      "type": "textarea",
      "id": "reassurance_free_shipping_info_fr",
      "label": {
        "en": "Reassurance free shipping info fr",
        "fr": "Reassurance free shipping info fr"
      }
    },
    {
      "type": "textarea",
      "id": "reassurance_free_shipping_info_en",
      "label": {
        "en": "Reassurance free shipping info en",
        "fr": "Reassurance free shipping info en"
      }
    },
    {
      "type": "text",
      "id": "reassurance_section_customer_title_fr",
      "label": {
        "en": "Reassurance Customer Titre Fr",
        "fr": "Reassurance Customer Titre Fr"
      }
    },
    {
      "type": "text",
      "id": "reassurance_section_customer_title_en",
      "label": {
        "en": "Reassurance Customer Title En",
        "fr": "Reassurance Customer Title En"
      }
    },
    {
      "type": "text",
      "id": "reassurance_phone",
      "label": {
        "en": "Reassurance Phone",
        "fr": "Reassurance Phone"
      }
    },
    {
      "type": "text",
      "id": "reassurance_email_info",
      "label": {
        "en": "Reassurance Email",
        "fr": "Reassurance Email"
      }
    },
    {
      "type": "textarea",
      "id": "reassurance_customer_info_fr",
      "label": {
        "en": "Customer Info fr",
        "fr": "Customer Info fr"
      }
    },
    {
      "type": "textarea",
      "id": "reassurance_customer_info_en",
      "label": {
        "en": "Customer Info en",
        "fr": "Customer Info en"
      }
    },
    {
      "type": "text",
      "id": "reassurance_section_payment_title_fr",
      "label": {
        "en": "Reassurance Payment Titre Fr",
        "fr": "Reassurance Payment Titre Fr"
      }
    },
    {
      "type": "text",
      "id": "reassurance_section_payment_title_en",
      "label": {
        "en": "Reassurance Payment Title En",
        "fr": "Reassurance Payment Title En"
      }
    },
    {
      "type": "text",
      "id": "reassurance_secured_payment_title_fr",
      "label": {
        "en": "Reassurance Secure payment Titre Fr",
        "fr": "Reassurance Secure payment Titre Fr"
      }
    },
    {
      "type": "text",
      "id": "reassurance_secured_payment_title_en",
      "label": {
        "en": "Reassurance Secure payment Title En",
        "fr": "Reassurance Secure payment Title En"
      }
    }
  ]
}
{% endschema %}