<footer id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="footer" class="Footer" role="contentinfo">
  {%- for block in section.blocks -%}
  {%- capture block_content -%}
  {%- case block.type -%}
  {%- when 'links' -%}
    {%- assign menu = block.settings.menu -%}

    {%- if menu != blank and menu.links.size > 0 -%}
      <div class="v-stack gap-4 sm:gap-5">
        {%- if block.settings.show_menu_title != blank -%}
          <p class="h6">{{ block.settings.menu_title | default: menu.title }}</p>
        {%- endif -%}

        <ul class="v-stack gap-2.5 unstyled-list" role="list">
          {%- for link in menu.links -%}
            <li>
              <a href="{{ link.url }}" class="link-faded">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    {%- when 'newsletter' -%}
    <div class="v-stack gap-4 sm:gap-5">
      {%- if block.settings.title != blank -%}
        <p class="h6">{{ block.settings.title }}</p>
      {%- endif -%}

      {%- if block.settings.content != blank -%}
        <div class="prose text-subdued">
          {{- block.settings.content -}}
        </div>
      {%- endif -%}

      {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}



  {%- endcase -%}
  {%- endcapture -%}

  {%- endfor -%}



  {% comment %}<ul>
         <li class="mobile-currency">
          {%- include 'bold-currency-picker-mount', openDirection: 'down' -%}
        </li>
    <li><a href="#shopify-section-popup" class="open-newsletter">Newsletter</a></li>
    {%- for block in section.blocks -%}
      {% include 'locale' %}
        
        {% if locale == 'fr' %}
          {% assign title = block.settings.title_fr %}
        {% else %}
          {% assign title = block.settings.title_en %}
        {% endif %}
      <li>
        <a href="{{ block.settings.url }}" {% if block.settings.externalLink %}target="_blank"{% endif %}>{{ title }}</a></li>
    {%- endfor -%}
  </ul>{% endcomment %}
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "blocks": [
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "text",
          "id": "title_fr",
          "label": "Title fr"
        },
        {
          "type": "text",
          "id": "title_en",
          "label": "Title En"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Lien"
        },
        {
          "type": "checkbox",
          "id": "externalLink",
          "label": "Lien Externe"
        }
      ]
    }
  ]
}
{% endschema %}