
{% if locale == 'fr' %}
  {% assign title = section.settings.title_fr %}
  {% assign location_title = section.settings.location_title_fr %}
  {% assign location_address = section.settings.location_address_fr %}
  {% assign location_info = section.settings.location_info_fr %}
  {% assign footer_title = section.settings.footer_title_fr %}
  {% assign footer_info = section.settings.footer_info_fr %}
{% else %}
  {% assign title = section.settings.title_en %}
  {% assign location_title = section.settings.location_title_en %}
  {% assign location_address = section.settings.location_address_en %}
  {% assign location_info = section.settings.location_info_en %}
  {% assign footer_title = section.settings.footer_title_en %}
  {% assign footer_info = section.settings.footer_info_en %}
{% endif %}

<div class="stocklist">
  <h1 class="stocklist__title">{{ title }}</h1>

  <p class="stocklist__location">France</p>
  <div class="stocklist__location-address">
    <h2 class="stocklist__location-address__title">{{ location_title }}</h2>
    <p class="stocklist__location-address__content">{{ location_address }}</p>
  </div>

  <img class="stocklist__location-image" src="{{ section.settings.location_image | img_url: '1000x' }}">

  <div class="stocklist__location-info">
    {{ location_info | newline_to_br }}
  </div>

  <div class="stocklist__table">
    {% for block in section.blocks %}
      {% if locale == 'fr' %}
        {% assign col_1_title = block.settings.col_1_title_fr %}
        {% assign col_1_list = block.settings.col_1_list_fr %}
        {% assign col_2_title = block.settings.col_2_title_fr %}
        {% assign col_2_list = block.settings.col_2_list_fr %}
      {% else %}
        {% assign col_1_title = block.settings.col_1_title_en %}
        {% assign col_1_list = block.settings.col_1_list_en %}
        {% assign col_2_title = block.settings.col_2_title_en %}
        {% assign col_2_list = block.settings.col_2_list_en %}
      {% endif %}

      <div class="stocklist__row">
        <div class="stocklist__col">
          <p class="stocklist__col__title">{{ col_1_title }}</p>
          {% assign list = col_1_list | newline_to_br | split: '<br />' %}
          
          <ul class="stocklist__col__list">
            {% for item in list %}
              <li class="stocklist__col__list__item">{{ item | strip }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="stocklist__col">
          <p class="stocklist__col__title">{{ col_2_title }}</p>
          {% assign list = col_2_list | newline_to_br | split: '<br />' %}
          
          <ul class="stocklist__col__list">
            {% for item in list %}
              <li class="stocklist__col__list__item">{{ item | strip }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="stocklist__footer">
    <p class="stocklist__footer__title">{{ footer_title }}</p>
    <div class="stocklist__footer__info">
      {{ footer_info | newline_to_br }}
    </div>
  </div>
</div>

{% schema %}
  {
  	"name": "Stocklist",
  	"settings": [{
  			"type": "text",
  			"id": "title_en",
  			"label": {
  				"en": "Title En",
  				"fr": "Title En"
  			},
  			"default": "Stockists"
  		},
  		{
  			"type": "text",
  			"id": "location_title_en",
  			"label": {
  				"en": "Location Title En",
  				"fr": "Location Title En"
  			}
  		},
  		{
  			"type": "textarea",
  			"id": "location_address_en",
  			"label": {
  				"en": "Location Address En",
  				"fr": "Location Address En"
  			}
  		},
  		{
  			"type": "image_picker",
  			"id": "location_image",
  			"label": "Location Image"
  		},
  		{
  			"type": "textarea",
  			"id": "location_info_en",
  			"label": {
  				"en": "Location Info En",
  				"fr": "Location Info En"
  			}
  		},
  		{
  			"type": "text",
  			"id": "footer_title_en",
  			"label": {
  				"en": "Footer Title En",
  				"fr": "Footer Title En"
  			}
  		},
  		{
  			"type": "textarea",
  			"id": "footer_info_en",
  			"label": {
  				"en": "Footer Info En",
  				"fr": "Footer Info En"
  			}
  		}
  	],
  	"blocks": [{
  		"type": "row",
  		"name": "Row",
  		"settings": [{
  				"type": "text",
  				"id": "col_1_title_en",
  				"label": {
  					"en": "Column 1 Title En",
  					"fr": "Column 1 Title En"
  				}
  			},
  			{
  				"type": "textarea",
  				"id": "col_1_list_en",
  				"label": {
  					"en": "Column 1 List En",
  					"fr": "Column 1 List En"
  				}
  			},
  			{
  				"type": "text",
  				"id": "col_2_title_en",
  				"label": {
  					"en": "Column 2 Title En",
  					"fr": "Column 2 Title En"
  				}
  			},
  			{
  				"type": "textarea",
  				"id": "col_2_list_en",
  				"label": {
  					"en": "Column 2 List En",
  					"fr": "Column 2 List En"
  				}
  			}
  		]
  	}]
  }
{% endschema %}