{% layout none %}
{% include 'locale' %}

{%- assign desktop_items_per_row = 4 -%}
{%- assign mobile_items_per_row  = 1 -%}
{%- assign tablet_items_per_row = 2 -%}

{% include 'fn.querystring.liquid' %}
{% capture qs_product %}{%- render 'fn.querystring', param: "products" -%}{% endcapture %}

{% assign qs_products = qs_product | split: ',' %}

<div class="CollectionMain">
  <div class="CollectionInner">
    <div class="CollectionInner__Products">
      {%- if qs_products.size > 0 -%}
        <div class="ProductListWrapper">
          <div class="ProductList ProductList--grid Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
            {% for item in qs_products %}
              {%- comment %}<locksmith:b523>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: item, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:b523>{% endcomment -%}
              {% assign _product = all_products[item] %}
              <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
                {%- render 'product-item', locale: locale, product: _product, show_product_info: true, show_vendor: false, show_color_swatch: true, show_labels: true, ajax_wishlist: true -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- else -%}
        <div class="EmptyState">
          <div class="Container">
            <h1 class="EmptyState__Title Heading u-h5">{{ 'collection.general.no_products' | t }}</h1>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>